* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #212433;
    --color-secondary: #4e4d4d;
    --color-muted: #838282;
    --color-border: #c5c1c1;
    --color-bg-light: #f0ebeb;
    --color-footer-bg: #f8f2f2;
    --color-white: #ffffff;
    --font-body:"lato",sans-serif;
    --logo-size: 2.8rem;
    --title-size: 2rem;
    --body-text-size: 1rem;
    --heading-size: 2rem;
    --body-text-size: 1rem;
    --nav-size: 0.9rem;
    --font-script: 'Great Vibes', cursive;   
}
body {
    font-family: var(--font-body);
    color: var(--color-secondary);
    background-color: var(--color-white);
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5px;
    background-color: var(--color-white);
    border-bottom: 1px solid #f4e9e9;
}
.logo {
    font-family: var(--font-script);
    font-size: var(--logo-size);
    color: var(--color-primary);
    line-height: 1;
}
.logo-z {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--color-muted);
    margin-top: 5px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 35px;
}
.navbar a{
    font-size: var(--nav-size);
    color: var(--color-secondary);
    position: relative;
}
.navbar a:hover {
    color: var(--color-primary);
}